<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mainapp/ans.css' %}">
    <title>Answer</title>
</head>
<body style="background-color: #2e2e31">
<div>
    <ul id="n1">
    <div style="width:100%">
        <div style="float:left;width:15%;">
            <span style="color:white;text-align: center; padding: 40px 55px;font-size:23px"> CVR Hub</span>
        </div>
        <div style="float:right;width: 85%">
            <li id="n2"><a class="active" id="a1" href="{% url 'mainapp:index' %}">DISCUSSION</a></li>
            <li id="n2"><a id="a1" href="{% url 'mainapp:profile' %}">PROFILE</a></li>
            <li id="n2"><a id="a1" href="{% url 'mainapp:info' %}">INFORMATION</a></li>
            <li id="n2"><a id="a1" href="{% url 'mainapp:logout' %}">LOGOUT</a></li>
        </div>
    </div>
</ul>
</div>
    <div class="col-md-12" id="ques_box" >
        <h3 id="ques_heading" style="background-color: #2e2e31">Below question is related to {{ question.subject }}</h3>
        <h4>{{ question.date }}</h4>
        <p id="ques" style="color: rgba(255,255,255,0.7);font-weight: bold;">{{ question.question }}</p>
        <b id="answer" style="text-transform: capitalize;color: rgba(255,255,255,0.5);">ASKED BY :{{ question.type }}</b>

        <div id="ques">
                <a class="btn-hover" style="color: green" href="{% url 'mainapp:incQuestionVote' %}"><i class="fa fa-thumbs-up" style="padding: 10px;">{{ question.votes.yes|length }}</i></a>
                <a class="btn-hover" style="color: red" href="{% url 'mainapp:decQuestionVote' %}"><i class="fa fa-thumbs-down" style="padding: 10px;">{{ question.votes.no|length }}</i></a>
        </div>
    </div>
    <div class="col-md-12" id="ans_heading1">
        <h3 id="ans_head" style="background-color: #2e2e31">Answers</h3>
        <div  class="col-md-12" id="ans_heading" style="overflow-y:scroll; height:400px;">
        {% for ans in question.answers %}
        <div class="col-md-12" id="ans_box" style="background-color: ghostwhite;">
                <h4>{{ ans.date }}</h4>
            <p id="answer">{{ ans.answer }}</p>
            <br>
            <b id="answer" style="text-transform: capitalize;">ANSWERED BY :{{ ans.type }}</b>
            <div id="ques">
                    <a class="btn-hover" style="color: green" href="{% url 'mainapp:incAnswerVote' ans.aID %}"><i class="fa fa-thumbs-up" style="padding: 10px;">{{ ans.votes.yes|length }}</i></a>
                    <a class="btn-hover" style="color: red" href="{% url 'mainapp:decAnswerVote' ans.aID %}"><i class="fa fa-thumbs-down" style="padding: 10px;">{{ ans.votes.no|length }}</i></a>
            </div>
        </div>
            {% endfor %}

        <div class="jumbotron">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ANSWER</h4>
                <form action="{% url 'mainapp:postAnswer' %}">
                    <p>Enter yout answer below:</p>
                    <textarea required class="form-control" name="answeredAnswer"></textarea>
                    <div class="mt-4"><input class="btn btn-success btn-lg" type="submit" value="Answer"></div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>